@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    font-family: "NotoSansReg", sans-serif;
}

@font-face {
    font-family: NotoSansReg;
    src: url("../public/NotoSans-Regular.ttf");
}

@layer components{
    .btn{
        @apply hover:bg-slate-200 px-4 text-center font-semibold bg-white text-black rounded-full border-black border-2 transition ease-in-out
    }
}